
/* .main-button-container{
    background-color: gray;
} */

.first-section {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    gap: 10px;
    margin-top: 10px;
}

button.general_design{
    background-color: white;
}

#creatives-for-hire{
    margin-left: 40px;
}

.lower-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

}

#blue-button{
    color: white;
    padding: 5 px, 5px;

    
}

#filtered-jobs{
    color:brown;
    
}


.button-designs{
    border: none;
    
}

/* Form styles */

input[type = text], select{
    width: 100%;
    margin: 8px, 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px, 20px;
    border: 1px, 1px;
}

