.formContainer {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px;
}

.formContainer h2 {
  font-size: 1.5em;
  color: rgb(6, 188, 243);

}

#time{
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formContainer label {
  display: block;
  margin-bottom: 10;
}

.formContainer input[type="text"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer input[type="date"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer button[type="submit"] {
  display: block;
  width: 100%;
  padding: 4px;
  
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formContainer button[type="submit"]:hover {
  background-color: #0056b3;
}
