
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  */
  
  /* .App {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }  */

  #formContent{
    display: flex;
    justify-content: center;
  }

  #formTitle{
    text-align: center;
  }
  
  h2 {
    color: #4A90E2;
  }
  
  form {
    width: 600px;
    position: absolute;
    display:inline-block;
    margin: 0 auto;

  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 600px;
   
  }
  
  button {
    cursor: pointer;
    background-color:#4A90E2;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: black;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .App {
      padding: 15px;
    }
  }