:root{
    --main-color: #d3a37f;
    --black: #131311a;
    --bg: #010103;
    --border:.1rem solid rgba(225,225,225,.3);

}
.header{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgb(120, 120, 131);
    align-items: center;
    justify-content: space-evenly;
}
/*.header:hover{
  background-color: #212224;
}*/
.header-left h2{
    list-style-type: none;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(68, 78, 168, 0.5);
}

.header-center ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-center li{
    list-style-type: none;
}
.header-center a{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(251, 249, 249, 0.966);
    text-decoration: none;
}
.header-center a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;


}
.button-container a{
  border-radius: 0.5rem;
  margin: 0 1rem;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(227, 222, 222, 0.5);
}
.button-container a:hover{
    box-shadow: 5px 5px 5px lightblue;
}



.form-container {
    position: absolute;
    top: calc(100px - 80px);
    right: 0;
    left: 50%;
    width: 300px;
    margin: 200px auto;
    padding: 100px 100px;
    background-color: #201e1e;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .form-container input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


/*HOME COMPONENT STYLING*/
.Home {
    overflow-y: auto;
    padding: 30px;
    background-color: #f9fafb;
    border-radius: 5px;
  }


  .Welcome h2 {
    color: #101010;
    font-size: 28px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
  }

  .Welcome p {
    color: #101010;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  .Location {
   display: flex;
   flex-direction: row;
   align-items: flex-start;

  }
  .City{
    width: 50%;
  }
  .Location h2,
  .Location p{
    text-align: center;
    width: 100%
  }
  .Location img{
    width: 20%;
    border-radius: 100%;

  }
  .OurValue{
    display: flex;
    text-align: center;
    gap: 9px;
  }
  .Mission{
   background-color: #464343;
    border-radius: 20px;
  }
  .Vision{
    background-color: #464343;
    border-radius: 20px;
  }
  .Team h1{
    color: #0b0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Members{
    color: #f7f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }


  .Members .James ,
  .Members .Victor,
  .Members .Caesar,
  .Members .Stephen,
  .Members .Fardowsa{
    background-color: #464343;
    border-radius: 10px;
  }
  .Members .James img,
  .Members .Victor img,
  .Members .Caesar img,
  .Members .Stephen img,
  .Members .Fardowsa img{
    width: 20%;
    border-radius: 100%;

  }

/*ABOUT COMPONENT STYLING*/
.About{
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}
.ArtHirely h1,
.ArtHirely p{
  display: flex;
  align-items: center;
  justify-content: center;

}
.ArtHirely h1{
  color: #141313;
  text-shadow: 2px 2px 4px rgba(50, 49, 49, 0.5);

}
.Money {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Content{
  width: 50%;
}

.Money h2,
.Money p {
  text-align: center;
  width: 100%;
}

.Money img {
  border-radius: 100%;
  width: 30%; /* Adjust width as needed */
}
.Freelancer{
  display: flex;
  align-items: flex-start;
}
.Story{
  width: 50%;
}
.Story h2,
.Story p{
  text-align: center;
  width: 100%;
}
.Freelancer img{
  width: 20%;
  border-radius: 100%;
}